
<div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
    <div class="form-container sign-up" >
        <form [formGroup]="registerFormGroup">
            <h1>Create Account</h1>
            <span>or use your email for registeration</span>
            <div class="validated-input">
                <input type="text" formControlName="firstName" placeholder="First name">
                <div *ngIf="registerFormGroup.get('firstName') as firstName">
                    @if(firstName.invalid && (firstName.dirty || firstName.touched)) {
                        <div class="error" *ngIf="firstName.hasError('required')">
                            first name is required
                        </div>
                    }
                </div>
            </div>
            <div class="validated-input">
                <input type="text" formControlName="secondName" placeholder="Second name">
                <div *ngIf="registerFormGroup.get('secondName') as secondName">
                    @if(secondName.invalid && (secondName.dirty || secondName.touched)) {
                        <div class="error" *ngIf="secondName.hasError('required')">
                            second name is required
                        </div>
                    }
                </div>
            </div>
            <div class="validated-input">
                <input type="email" formControlName="email" placeholder="Email">
                <div *ngIf="registerFormGroup.get('email') as email">
                    @if(email.invalid && (email.dirty || email.touched)) {
                        <div class="error" *ngIf="email.hasError('required')">
                            email is required
                        </div>
                        <div class="error" *ngIf="email.hasError('email')">
                            not valid email
                        </div>
                    }
                </div>
            </div>
            <div class="validated-input">
                <input type="password" formControlName="password" placeholder="Password">
                <div *ngIf="registerFormGroup.get('password') as password">
                    @if(password.invalid && (password.dirty || password.touched)) {
                        <div class="error" *ngIf="password.hasError('required')">
                            password is required
                        </div>
                    }
                </div>
            </div>
            <button *ngIf="registerFormGroup.valid" (click)="onRegister()">Sign Up</button>
            <button *ngIf="registerFormGroup.invalid" matTooltip="Form is not valid" matTooltipPosition="above">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form [formGroup]="loginFormGroup">
            <h1>Sign In</h1>
            <span>or use your email password</span>
            <div class="validated-input">
                <input type="email" formControlName="email" placeholder="Email">
                <div *ngIf="loginFormGroup.get('email') as email">
                    @if(email.invalid && (email.dirty || email.touched)) {
                        <div class="error" *ngIf="email.hasError('required')">
                            email is required
                        </div>
                        <div class="error" *ngIf="email.hasError('email')">
                            not valid email
                        </div>
                    }
                </div>
            </div>
            <div class="validated-input">
                <input type="password" formControlName="password" placeholder="Password">
                <div *ngIf="loginFormGroup.get('password') as password">
                    @if(password.invalid && (password.dirty || password.touched)) {
                        <div class="error" *ngIf="password.hasError('required')">
                            password is required
                        </div>
                    }
                </div>
            </div>
            <a href="#">→ Forget Your Password? ←</a>
            <button *ngIf="loginFormGroup.valid" (click)="onLogin()">Sign In</button>
            <button *ngIf="loginFormGroup.invalid" matTooltip="Form is not valid" matTooltipPosition="above">Sign In</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button type="button" class="hidden" id="login" (click)="isSignDivVisiable = false">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button type="button" class="hidden" id="register" (click)="isSignDivVisiable = true">Sign Up</button>
            </div>
        </div>
    </div>
</div>