.container {
    background: #fff;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.profil-data {
    padding: 20px;
    min-width: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items:start;
}

@media (max-width: 700px) {
    .wrapper {
        flex-direction: column;
    }
    .profil-data {
        max-width: 100%;
    }
}

.profil-image {
    margin: 0 20px;
    width: 150px;
    height: 150px;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    overflow: hidden;
    border: 4px solid #ccc;
    transition: border 0.5s ease;
}

.image:hover {
    border: 4px solid #638bf3;
}

.image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.new-image-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 70%;
    border: none;
    background: #ccc;
    display: flex;
    transition: all 0.3s ease;
}

.new-image-btn mat-icon {
    margin: auto;
}

.new-image-btn:hover {
    background: #4169E1;
}

.new-image-btn:hover mat-icon {
    color: #fff;
}

.section-title {
    font-size: 24px;
    font-weight: 400;
    margin: 20px;
}

.info-panel {
    width: 100%;
    background: #fefefe;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 5px #aaaa;
    transition: all 0.3s ease;
}

.info-panel:hover {
    box-shadow: 0px 10px 10px #aaaa;
}

.manage-profile-btn {
    width: 100%;
    height: 25px;
    display: relative;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-bottom: 30px;
}

.btn-content-m,
.btn-content-s {
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.4 ease;
}
.btn-content-m {
    animation: fadeIn 0.2s forwards;
    animation-delay: 0.2s;
}
.btn-content-s {
    animation: fadeOut 0.2s forwards;
}

.manage-profile-btn-editmode {
    background: #4169E1;
    color: #fff;
}
@keyframes fadeOut {
    to {opacity: 0;}
}
@keyframes fadeIn {
    to {opacity: 1;}
}
.btn-content-m-editmode{
    animation: fadeOut 0.2s forwards;
}
.btn-content-s-editmode{
    animation: fadeIn 0.2s forwards;
    animation-delay: 0.2s;
}

.profile-field {
    margin-top: -10px;
    width: 100%;
}

.organizations-projects {
    padding: 20px;
    background: none;
    width: 100%;
}

.organizations {
    background-color: #9993;
    border-radius: 20px;
    padding: 20px;
}

.organizations h1 {
    
}