<div class="container">

  <div class="wrapper">

    <div class="profil-data" *ngIf="editData$ | async as editData">
        <div class="profil-image">
          <div class="image" *ngFor="let imageUrl of [imageUrl$ | async]">
            <img *ngIf="imageUrl" [src]="imageUrl"/>
            <img *ngIf="!imageUrl" src="/assets/images/creator-dummy-img.jpg"/>
          </div>
          <button class="new-image-btn" (click)="openImgUpload($event)" *ngIf="editMode">
            <mat-icon>edit</mat-icon>
            <input type="file" (change)="uploadImg($event)" style="display: none;"/>
          </button>
        </div>
        <span class="section-title">Hubert Rogowski</span>
        <div class="info-panel">
          <button class="manage-profile-btn" [ngClass]="editMode ? 'manage-profile-btn-editmode' : ''" (click)="toggleEditMode()">
            <div style="position: relative;">
              <div class="btn-content-m" *ngIf="!editMode" [ngClass]="editMode ? 'btn-content-m-editmode' : ''">Manage account</div>
              <div class="btn-content-s" *ngIf="editMode" [ngClass]="editMode ? 'btn-content-s-editmode' : ''" (click)="save(editData)">Save changes</div>
            </div>
          </button>
          <mat-form-field class="profile-field">
            <mat-label>First name</mat-label>
            <input matInput placeholder="Enter your first name" [(ngModel)]="editData.firstName" [readonly]="!editMode"/>
            <mat-icon matSuffix *ngIf="editMode">edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="profile-field">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="Enter your last name" [(ngModel)]="editData.secondName" [readonly]="!editMode"/>
            <mat-icon matSuffix *ngIf="editMode">edit</mat-icon>
          </mat-form-field>
      </div>

      <span class="section-title">Organizations</span>
      <div class="info-panel">
        <div class="organization" *ngFor="let ogranization of organizations">
          <a class="no-dec-a" href="http://localhost:4200">
            <div class="project">
              <mat-icon>lightbulb_circle</mat-icon>
             {{ogranization.name}}
            </div>
          </a>
        </div>
        <div class="show-all-link">
          <a href="http://localhost:4200">Show all organizations</a>
        </div>
      </div>

    </div>
  
    <div class="organizations-projects">

      <span class="section-title">Projects</span>
      <div class="info-panel">
        <div *ngFor="let project of projects">
          <a class="no-dec-a" href="http://localhost:4200">
            <div class="project">
              <mat-icon>lightbulb_circle</mat-icon>
             {{project.name}}
            </div>
          </a>
        </div>
        <div class="show-all-link">
          <a href="http://localhost:4200">Show all projects</a>
        </div>
      </div>

      <span class="section-title">Tasks</span>
      <div class="info-panel">
        <div *ngFor="let task of tasks">
          <a class="no-dec-a" href="http://localhost:4200">
            <div class="project">
              <mat-icon>lightbulb_circle</mat-icon>
              {{task.name}}
            </div>
          </a>
        </div>
        <div class="show-all-link">
          <a href="http://localhost:4200">Show all tasks</a>
        </div>
      </div>
    </div>
  </div>
</div>
