<div class="container">

  <div class="wrapper">

    <div class="profil-data" *ngIf="editData$ | async as editData">
        <div class="profil-image">
          <div class="image" *ngFor="let imageUrl of [imageUrl$ | async]">
            <img *ngIf="imageUrl" [src]="imageUrl"/>
            <img *ngIf="!imageUrl" src="/assets/images/user.png"/>
          </div>
          <button class="new-image-btn" (click)="openImgUpload($event)" *ngIf="editMode">
            <mat-icon>edit</mat-icon>
            <input type="file" (change)="uploadImg($event)" style="display: none;"/>
          </button>
        </div>
        <button mat-flat-button class="logout-btn" color="primary" (click)="logout()">Log out</button>
        <div class="info-panel">
          <button class="manage-profile-btn" [ngClass]="editMode ? 'manage-profile-btn-editmode' : ''" (click)="toggleEditMode()">
            <div style="position: relative;">
              <div class="btn-content-m" *ngIf="!editMode" [ngClass]="editMode ? 'btn-content-m-editmode' : ''">Manage account</div>
              <div class="btn-content-s" *ngIf="editMode" [ngClass]="editMode ? 'btn-content-s-editmode' : ''" (click)="save(editData)">Save changes</div>
            </div>
          </button>
          <mat-form-field class="profile-field">
            <mat-label>First name</mat-label>
            <input matInput placeholder="Enter your first name" [(ngModel)]="editData.firstName" [readonly]="!editMode"/>
            <mat-icon matSuffix *ngIf="editMode">edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="profile-field">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="Enter your last name" [(ngModel)]="editData.secondName" [readonly]="!editMode"/>
            <mat-icon matSuffix *ngIf="editMode">edit</mat-icon>
          </mat-form-field>
      </div>

      <span class="section-title">Organizations</span>
      <div class="info-panel">
        <div class="organization" *ngFor="let organization of connectedObjects.organizations">
          <a class="no-dec-a" [routerLink]="['/organization-details', organization.id]">
            <div class="project">
              <mat-icon>business</mat-icon>
             {{organization.name}}
            </div>
          </a>
        </div>
      </div>

    </div>
  
    <div class="organizations-projects">

      <span class="section-title">Projects</span>
      <div class="info-panel">
        <div *ngFor="let project of connectedObjects.projects">
          <a class="no-dec-a" [routerLink]="['/project-details', project.organizationId, project.projectId]">
            <div class="project">
              <mat-icon>rocket</mat-icon>
              {{project.projectName}} ({{project.organizationName}})
            </div>
          </a>
        </div>
      </div>

      <span class="section-title">Tasks</span>
      <div class="info-panel">
        <div *ngFor="let task of connectedObjects.tasks">
          <a class="no-dec-a" [routerLink]="['/project-details', task.organizationId, task.projectId, task.taskId]">
            <div class="project">
              <mat-icon>lightbulb_circle</mat-icon>
              {{task.title}} ({{task.organizationName}} - {{task.projectName}})
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
