<mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened class="menu-list" [ngClass]="{'menu-list-collapsed': !opened}">
        <app-menu-item class="menu-item" (click)="open()" *ngIf="!opened" matIcon="arrow_forward"></app-menu-item>
        <app-menu-item class="menu-item" (click)="close()" *ngIf="opened" matIcon="close"></app-menu-item>
        <app-menu-item class="menu-item" *ngFor="let menuItem of menuItems" 
            [matIcon]="menuItem.icon"
            [label]="menuItem.label"
            [collapsed]="!opened">
        </app-menu-item>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet />
    </mat-drawer-content>
</mat-drawer-container>
  