.menu-item-link {
    display: flex;
    text-decoration: none;
    color: #fff;
    width: fit-content;
    overflow: hidden;
    text-wrap: nowrap;
    margin: .2em 2em 1em 2em;
}

.menu-item-label {
    margin-left: 1.5em;
    opacity: 1;
}

.menu-item-label-collapsed {
    opacity: 0;
}

.menu-item-label-collapsed,
.menu-item-label {
    transition: all .2s ease-in-out;
}

mat-icon {
    margin-top: 1em;
}
