<div class="container">
    <div class="fields-container">
        <div *ngIf="issue$ | async as issue">
            <button class="save-btn" (click)="switchToEditMode()" *ngIf="!editMode && !forClient">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="save-btn" (click)="saveChanges()" *ngIf="editMode && !forClient">
                <mat-icon>save</mat-icon>
            </button>
           
            <div class="organization">
                <span>Organization: {{forClient ? issue.destinationOrganizationName: issue.sourceOrganizationName}}</span>
            </div>
    
            <issue-form [issueForm]="issue.form" [issueFormGroup]="formGroup" [editMode]="editMode"/>
    
            <div class="project-container" *ngIf="!forClient">
                <span>Connected project</span>
                <ng-container *ngIf="project$ | async as project; else addProject">
                   <div class="project">
                        <img src="../../../assets/images/project.png"/>
                        <span>{{project.name}}</span>
                        <button [routerLink]="['project-details', project.organizationId, project.projectId]">Tasks</button>
                        <button>Issues</button>
                   </div>
                </ng-container>
                <ng-template #addProject>
                    <div class="no-project">
                        <span>No connected project</span>
                        <button (click)="openProjectConnector(issue)">
                            <mat-icon>add</mat-icon>
                            Connect project    
                        </button>
                    </div>
                </ng-template>
            </div>

            <div class="connected-tasks">
                <span>Connected tasks</span>
                <ng-container *ngIf="issue.projectName || true; else noProject">
                    <div class="tasks">
                        <ng-container *ngIf="(issue.connectedTasks && issue.connectedTasks.length !== 0) || true; else noTasks">
                            <div class="tasks-list">
                                <!-- <div class="task" *ngFor="let task of issue.connectedTasks">

                                </div> -->
                                <!--NA SZTYWNO. TRZEBA DODAĆ NGFOR JAK DO GÓRY-->
                                <div class="task">
                                    <img src="../../../../assets/images/task.png"/>
                                    <span>#1</span> <!--task id-->
                                    <span class="task-name">connected task</span> <!--task name-->
                                    <span class="task-progress">new</span> <!--task status-->
                                    <button class="icon-btn" >
                                    <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                           </div>
                        </ng-container>
                        <ng-template #noTasks>
                            <span>No connected tasks</span>
                        </ng-template>
                        <app-add-task [group]="null"
                            (addTaskClicked)="onAddTaskClicked($event)" />
                    </div>
                </ng-container>
                <ng-template #noProject>
                    <div class="no-project">
                        <span>No connected project</span>
                        <button>
                            <mat-icon>add</mat-icon>
                            Connect project    
                        </button>
                    </div>
                </ng-template>
            </div>

        </div>
    </div>
    <div class="chat-container">
        <!-- DO ODKOMENTOWANIA -->
        <!-- <app-chat /> -->
    </div>
</div>
