.project-details-container {
  display: inline-block;
  margin-left: 3em;
}

.task-list-groups-container {
  display: flex;
}

.project-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
  
.task-list {
  border: solid 1px #ccc;
  width: 25em;
  margin: 1em;
  min-height: 60em;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  cursor: move;

  .group-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 0px 50px;
    font-size: 18px;

    .name-span {
      flex: 1;
    }

    .delete-btn {
      mat-icon {
        color: #f00;
      }
    }

    .task-counter {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #bbb4;
      margin: 0px 5px 0px 5px;
    }
  }
}

.task-list-collapsed {
  border: solid 1px #ccc;
  width: 4.5em;
  margin: 1em;
  min-height: 60em;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  cursor: move;

  .group-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 18px;

    .name-span {
      transform: rotate(90deg);
      display: inline-block;
      white-space: pre;
      margin-top: 250px;
    }

    .delete-btn {
      mat-icon {
        color: #f00;
      }
    }

    .task-counter {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #bbb4;
      margin: 5px 5px 0px 5px;
    }
  }
}

.task-draggable-item {
  padding: 10px;
  margin: 1em 2em;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;

  .task {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;

    .parent-task-id {
      font-size: 70%;
      opacity: .6;
    }

    .task-id {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      gap: 5px;

      img {
        width: 25px;
        height: 25px;
      }

      .task-id-span {
        flex: 1;
      }

      .task-progress {
        border-radius: 10px;
        background: rgba(53, 136, 231, 0.3);
        padding: 3px 5px;
      }

      .task-priority {
        border-radius: 10px;
        background: rgba(212, 167, 70, 0.3);
        padding: 3px 5px;
      }
    }

    .task-name {
      font-size: 16px;
    }

    .assigned-to {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

.details-btn {
  margin: -10px 0px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-draggable-item:last-child {
  border: none;
}

.task-list.cdk-drop-list-dragging .task-draggable-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-groups {
  display: flex;
}

.add-group {
  margin-top: 20px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;

    &:hover {
      background-color: #ddd;
    }

    &:active {
      background-color: #cdcdcd;
    }

    mat-icon {
      transform: scale(1.2);
    }
  }
}
