<div class="project-details-container">
    <button class="add-btn" (click)="openOrganizationInviteDialog()" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Invite organization
    </button>
    <div cdkDropList
        cdkDropListOrientation="horizontal" 
        [cdkDropListData]="taskGroups"
        (cdkDropListDropped)="dropGroup($event)">
        <div cdkDropListGroup class="task-list-groups-container">
        @for (taskGroup of taskGroups; track taskGroup) {
            <div cdkDropList cdkDrag [cdkDropListData]="taskGroup.tasks"
                class="task-list"
                (cdkDropListDropped)="dropTask($event)">
            @for (item of taskGroup.tasks; track item) {
                <div class="task-draggable-item" cdkDrag>{{item}}</div>
            }
            </div>
        }
        </div>
    </div>
</div>
