<div style="margin: 2em;">
    <div *ngIf="issue$ | async as issue">
        <h1>#{{issue.id}} {{issue.organizationName}}</h1>
        <div style="display: flex;">
            <div *ngFor="let column of [issue.col1Fields, issue.col2Fields]" style="margin: 1em;">
                <div *ngFor="let field of column">
                    <issue-field [field]="field"/>
                </div>
            </div>
        </div>
        <div *ngIf="organizationId != null">
            Existing project: <mat-slide-toggle color="primary" [(ngModel)]="existingProject"/><br/><br/>
            @if(existingProject) {
                <mat-form-field>
                    <input matInput type="text" placeholder="Project name"
                        [formControl]="projectNameControl" [matAutocomplete]="projectAutocomplete"/>
                    <mat-autocomplete #projectAutocomplete="matAutocomplete">
                        <mat-option *ngFor="let projectOption of projectOptions$ | async" [value]="projectOption.name">
                            {{projectOption.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field> <br/>
                <button mat-flat-button color="primary">
                    <mat-icon>add</mat-icon>
                    Add to existing project
                </button>
            }
            @else {
                <mat-form-field>
                    <mat-label>Project name</mat-label>
                    <input matInput name="name"/>
                </mat-form-field> <br/>
                <mat-form-field>
                    <mat-label>Project description</mat-label>
                    <input matInput name="description"/>
                </mat-form-field> <br/>
                <button mat-raised-button color="primary">
                    <mat-icon>add</mat-icon>
                    Add to new project
                </button>
            }
        </div>
    </div>
</div>
