<div class="container">
  <div class="title">
    <div class="t1">
      <h1>About us</h1>
    </div>
    <div class="t2">
      <h1>"Go with the FLOW"</h1>
    </div>
  </div>
  <div class="about-flow">
    <img src="/assets/images/about-us-flow.jpg"/>
    <p>Flow is an app for managing workflow, task assignment, project tracking, and ticket handling. It enables efficient planning, progress monitoring, and team collaboration with an intuitive interface and advanced task management features.</p>
  </div>
  <div class="creators">
    <h1>Creators</h1>
    <div class="creator-serek">
      <img src="/assets/images/mserek_creator.jpg"/>
      <div>
        <h1>Michał Serek</h1>
        <p>A programmer with 3 years of experience at Verbis sp. z o.o. as a Java developer and a student at Poznań University of Technology since 2020. Interests include web application development, traveling, and sports, particularly football, volleyball, and tennis. A special passion lies in hiking the trails of the Tatra Mountains, known for their breathtaking views.
        </p>
      </div>
    </div>
    <div class="creator-rogowski">
      <div>
        <h1>Hubert Rogowski</h1>
        <p>A student at Poznan University of Technology, he also works at the fast-growing software company Daw-Systems Sp. z o.o. He combines his academic knowledge with professional experience in the tech industry. Outside of work, he enjoys staying active at the gym, playing basketball, and has a keen interest in tattoo art, reflecting his creative side.</p>
      </div>
      <img src="/assets/images/hrogowski_creator.jpg"/>
    </div>
  </div>
</div>