<div class="container">
  <div class="title">
    <div class="t1">
      <h1>About us</h1>
    </div>
    <div class="t2">
      <h1>"It is what it is PIWO PIWO PIWO"</h1>
    </div>
  </div>
  <div class="about-flow">
    <img src="/assets/images/about-us-flow.jpg"/>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur itaque error enim, iste quae sequi eaque. Obcaecati pariatur mollitia voluptates itaque consectetur nihil molestiae. Atque eaque possimus harum beatae animi.</p>
  </div>
  <div class="creators">
    <h1>Creators</h1>
    <div class="creator-serek">
      <img src="/assets/images/creator-dummy-img.jpg"/>
      <div>
        <h1>Michał Serek</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis vel suscipit, cumque eligendi cum quas dicta! Accusamus odio quam cupiditate voluptatibus facilis ex aspernatur neque deleniti, esse enim quibusdam? Rem!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis vel suscipit, cumque eligendi cum quas dicta! Accusamus odio quam cupiditate voluptatibus facilis ex aspernatur neque deleniti, esse enim quibusdam? Rem!
        </p>
      </div>
    </div>
    <div class="creator-rogowski">
      <div>
        <h1>Hubert Rogowski</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis vel suscipit, cumque eligendi cum quas dicta! Accusamus odio quam cupiditate voluptatibus facilis ex aspernatur neque deleniti, esse enim quibusdam? Rem!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis vel suscipit, cumque eligendi cum quas dicta! Accusamus odio quam cupiditate voluptatibus facilis ex aspernatur neque deleniti, esse enim quibusdam? Rem!</p>
      </div>
      <img src="/assets/images/creator-dummy-img.jpg"/>
    </div>
  </div>
</div>