<div class="organizations-container">
    <button class="add-btn" (click)="openCreateDialog()" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Add new organization
    </button>
    <div class="organization-list">
        <mat-card class="upper-nav-item" *ngFor="let organization of organizations$ | async"
            [routerLink]="['/organization-details', organization.id]">
            <div class="header">
                <mat-icon>business</mat-icon>
                <mat-card-title>{{organization.name}}</mat-card-title>
            </div>
            <mat-card-header>
                <mat-card-subtitle>{{organization.description}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>
