.container, .role-data-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    background: #9993;
    padding: 0;
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.close-btn:hover {
    background: #FF2400;
    color: #fff;
}

.delete {
    display: flex;
    justify-content: flex-end;
    padding: 3px;
    font-weight: 700;
}

.delete mat-icon {
    min-width: 24px;
}

.delete-btn {
    background: #FF2400;
    color: #fff;
    padding: 0;
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 40px;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.delete-btn:disabled {
    background: #9993;
    color: #000;
}

.delete-btn:hover {
    width: 90px;
}

.delete-timer {
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.delete-timer-hover {
    opacity: 1;
}

.timer-text::after {
    content: "3";
}

.timer-text-hover::after {
    animation: countdown 3s linear forwards;
}

@keyframes countdown {
    0% {
        content: "3"
    }
    33% {
        content: "2"
    }
    66% {
        content: "1"
    }
    100% {
        content: "DELETE"
    }
}

.users {
    max-width: 500px;
    height: 100%;
    background: #fefefe;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 5px 5px #aaaa;
    transition: all 0.3s ease;
}

.permissions {
    height: 100%;
    background: #fefefe;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 5px 5px #aaaa;
    transition: all 0.3s ease;
}

.permission-classes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
}

.permission-section {
    background: #fefefe;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 5px 5px #aaaa;
    transition: all 0.3s ease;
}

.save-permission-btn {
    margin: 0 10px;
    padding: 0;
}

