.container, .role-data-container{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    background: #9993;
    padding: 0;
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.close-btn:hover {
    background: #FF2400;
    color: #fff;
}

delete-button {
    position: absolute;
    right: 40px;
}

.role-data-container {
    margin: 40px;
}

.users {
    max-width: 500px;
    height: 100%;
    background: #fefefe;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 5px 5px #aaaa;
    transition: all 0.3s ease;
}

.permissions {
    height: 100%;
    background: #fefefe;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 5px 5px #aaaa;
    transition: all 0.3s ease;
}

.permission-classes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}

.permission-section {
    background: #fefefe;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 5px 5px #aaaa;
    transition: all 0.3s ease;
}

.save-permission-btn {
    margin: 0 10px;
    padding: 0;
}

