<div class="container">
  <button class="close-btn" (click)="close()" >
    <div class="close">
      <mat-icon>close</mat-icon>
    </div>
  </button>
  <delete-button (click)="delete()"/>
  <div class="role-data-container" *ngIf="roleDetails$ | async as roleDetails">
    
    <div class="users">
      <div class="users-title">
        <h1>Users</h1>
      </div>
      <div class="add-user">
        <div>
          <mat-form-field class="profile-field">
            <mat-label>Search user</mat-label>
            <input matInput type="text" [(ngModel)]="searchUser" placeholder="Search user"/>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <mat-list class="users-list" >
        <mat-list-item *ngFor="let member of roleDetails.members">
          <mat-checkbox class="checkbox" color="primary" [(ngModel)]="member.selected" matListItemTitle>{{member.email}}</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="permissions">
      <div style="display: flex; flex-direction: row;">
        <h1>Permissions</h1>
        <button mat-flat-button color="primary" class="save-permission-btn" (click)="save(roleDetails)">Save</button>
        <mat-checkbox class="checkbox" color="primary" [(ngModel)]="roleDetails.addToNewMembers" matListItemTitle>add this role to new members</mat-checkbox>
      </div>
      <div class="permission-classes">
        <div class="permission-section" *ngFor="let section of roleDetails.permissionSections">
          <h2>{{section.sectionName}}</h2>
          <mat-checkbox *ngFor="let permission of section.permissions" class="checkbox" color="primary" [(ngModel)]="permission.selected">{{permission.permission}}</mat-checkbox>
        </div>
      </div>
    </div>

  </div>
</div>
