.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}

.message {
    flex: 1;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}