<div class="container">
    @if(issueFormGroup) {
        <mat-form-field *ngIf="titleControl" style="margin: 1em; width: 100%;">
            <mat-label>Title</mat-label>
            <input matInput [formControl]="titleControl">
            <mat-error *ngIf="titleControl.invalid && titleControl.hasError('required')">title is required</mat-error>
        </mat-form-field>
    }
    <div class="columns-container">
        <div *ngFor="let fields_column of [fields_column1, fields_column2]" class="column">
            <div *ngFor="let field of fields_column">
                <issue-field [field]="field" [issueFormGroup]="issueFormGroup"/>
            </div>
        </div>
    </div>
</div>