<div class="projects-container">
    <button class="add-btn" (click)="openCreateDialog()" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Add new project
    </button>
    <div class="project-list" *ngIf="projectsOwning$ | async as projects">
        <p *ngIf="projects.length > 0">Owning</p>
        <mat-card class="upper-nav-item" *ngFor="let project of projects"
            [routerLink]="['/project-details', project.organizationId, project.projectId]">
            <mat-icon>rocket_launch</mat-icon>
            <mat-card-header>
                <mat-card-title>{{project.name}}</mat-card-title>
                <mat-card-subtitle>{{project.description}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <div class="project-list" *ngIf="projectsReporting$ | async as projects">
        <p *ngIf="projects.length > 0">Reporting</p>
        <mat-card class="upper-nav-item" *ngFor="let project of projects"
            [routerLink]="['/project-details', project.organizationId, project.projectId]">
            <mat-icon>rocket_launch</mat-icon>
            <mat-card-header>
                <mat-card-title>{{project.name}}</mat-card-title>
                <mat-card-subtitle>{{project.description}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>
