<div class="projects-container">
    <button class="add-btn" (click)="openCreateDialog()" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Add new project
    </button>
    <div class="project-list" *ngIf="projects$ | async as projects">
        <mat-card class="upper-nav-item" *ngFor="let project of projects"
            [routerLink]="['/project-details', project.id]">
            <mat-icon>business</mat-icon>
            {{project.name}} <br/>
            {{project.description}}
        </mat-card>
    </div>
</div>
