.projects-container {
    margin: 2em 1em 1em 0;
    width: fit-content;
}

.projects-container mat-card {
    margin-right: 2em;
    margin-bottom: 2em;
    padding: 2em;
    width: 300px;
}

.projects-container .project-list {
    display: flex;
    flex-wrap: wrap;
}
