.issues-container {
    margin: 1em 3em 0 0;
}

.filters-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 2px solid #999b;
    padding: 10px;
    border-radius: 10px;

    span {
        margin-left: 10px;
    }

    input {
        padding: 7px;
        border-radius: 10px;
        font-size: 14px;
        border: 2px solid rgb(177, 177, 177);

        &:focus {
            border: 2px solid rgb(35, 115, 236);
            outline: none;
        }
    }

    select {
        padding: 7px;
        border-radius: 10px;
        font-size: 14px;
        border: 2px solid rgb(177, 177, 177);
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 5px;
        padding-right: 30px; 

        &:focus {
            border: 2px solid rgb(35, 115, 236);
            outline: none;
        }
    }
}

.issue:hover {
    opacity: .7;
    cursor: pointer;
}

.issue,
.issue .extra-data {
    display: flex;
    overflow: hidden;
}

.issue .id {
    min-width: 4em;
    width: 4em;
}

.issue .title,
.issue .organization {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.issue .title {
    min-width: 6em;
    margin-right: 1em;
}

.issue .organization {
    min-width: 10em;
    width: 10em;
    margin-right: 1em;
}

.issue .extra-data {
    align-self: flex-end;
    justify-content: space-between;
    min-width: 16em;
    width: 16em;
    margin-left: auto;
}