<div class="issues-container">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let issueGroup of issueGroups">
            <mat-expansion-panel-header>
                <mat-panel-title>{{issueGroup.organizationName}}</mat-panel-title>
                <mat-panel-description>Opis organizacji</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card *ngFor="let issue of issueGroup.issues" appearance="outlined" (click)="openDialog(issue)">
                <mat-card-content class="issue">
                    <span class="id">#{{issue.id}}</span>
                    <span class="title">{{issue.organizationName}}</span>
                    <div class="extra-data">
                        <span>{{issue.status}}</span>
                        <span>{{issue.created}}</span>
                    </div>
                </mat-card-content>
            </mat-card>     
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Archive</mat-panel-title>
                <mat-panel-description>Archivized issues</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card appearance="outlined">
                <mat-card-content class="issue archivized">
                    <span class="id">#3455</span>
                    <span class="organization">Organizacja adssadsad</span>
                    <span class="title">Simple carddasdsadasdasdasdsaa dsad asd sad sadsadsa asd sa ddsad sad asd sad as dsad sad as</span>
                    <div class="extra-data">
                        <span>NEW</span>
                        <span>2024-08-09 12:35</span>
                    </div>
                </mat-card-content>
            </mat-card>     
        </mat-expansion-panel>
    </mat-accordion>
</div>
